* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1,h2 {
    text-align: center;
    margin-bottom: 20px;
}

.routine-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.routineList {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

#routine-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

/* Mobile specific styles */
@media only screen and (max-width: 768px) {
    .button {
         min-height: 60px;
         min-width: 300px;
         border-radius: 6px;
    }
    #routineIcon{
        max-width: 60% ;
        max-height: 45%;
    }
    html, body {
        font-size: small;
    }
}